@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-bold.woff2") format("woff2"), url("../fonts/open-sans-bold.woff") format("woff");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
}
.main-header {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    background: linear-gradient(180deg, #ffffff 66%, #f9f9f9 34%);
    border-bottom: none;
  }
  .main-header--bg-secondary {
    background: linear-gradient(180deg, #ffffff 67%, #f1f1f1 33%);
  }
}
.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    border-bottom: none;
  }
}
@media (min-width: 1150px) {
  .main-header__wrapper {
    width: 1150px;
  }
}
.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-navigation {
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1150px) {
  .main-navigation {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
  }
}
.main-navigation__logo {
  display: block;
  margin: 0 auto;
  padding-top: 22px;
  margin-bottom: 22px;
}
.main-navigation__logo:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
  border-radius: 10px;
}
.main-navigation__logo:hover {
  opacity: 0.6;
}
.main-navigation__logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-navigation__logo {
    margin: 0;
    padding: 22px 0 20px;
    padding-left: 48px;
    grid-column: 1 / 1 span;
  }
  .main-navigation__logo--catalog-indent {
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .main-navigation__logo {
    margin-left: -1px;
    padding: 0;
    padding-top: 9px;
    grid-column: 2 / 1 span;
    order: 2;
  }
}
.main-navigation__logo-image {
  display: block;
}
.main-navigation__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 2;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}
.main-navigation--closed .main-navigation__toggle:active::before {
  box-shadow: 0 8px 0 0 #231f20, 0 16px 0 0 #231f20;
}
@media (max-width: 767px) {
  .main-navigation--closed .navigation-site__item {
    display: none;
  }
  .main-navigation--closed .navigation-site__item--active {
    display: block;
  }
  .main-navigation--closed .navigation-user__item {
    display: none;
  }
  .main-navigation--opened .navigation-site {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
  .main-navigation--opened .navigation-user {
    position: absolute;
    top: 237px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
  .main-navigation--nojs .navigation-site,
  .main-navigation--nojs .navigation-user {
    position: static;
    min-height: 0;
  }
  .main-navigation--nojs .navigation-user__item {
    display: block;
  }
  .main-navigation--nojs .navigation-site__item {
    display: block;
  }
}
.main-navigation--opened .main-navigation__toggle {
  top: 29px;
  right: 30px;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 27px;
  height: 2px;
  background-color: #000000;
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-44deg);
}
.main-navigation__sale {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 768px) {
  .main-navigation__sale {
    display: grid;
    padding-right: 50px;
    grid-column: 2 / 1 span;
    border-top: 1px solid #e1e1e1;
  }
}
@media (min-width: 1150px) {
  .main-navigation__sale {
    display: grid;
    padding: 0 50px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-auto-flow: dense;
    grid-column: 1 / 3 span;
    justify-self: auto;
    order: 4;
    border-top: 1px solid #e1e1e1;
  }
}
.main-navigation__sale-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1150px) {
  .main-navigation__sale-list {
    display: grid;
    padding-top: 19px;
    grid-template-columns: 200px 200px;
    grid-column: 1 / 1 span;
    column-gap: 20px;
  }
}
.main-navigation__sale-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.main-navigation__sale-link:hover {
  opacity: 0.6;
}
.main-navigation__sale-link:active {
  opacity: 0.3;
}
@media (min-width: 1150px) {
  .main-navigation__sale-link {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }
}
.main-navigation__sale-text {
  display: none;
}
@media (min-width: 768px) {
  .main-navigation__sale-text {
    display: block;
    margin: 0;
    align-self: flex-end;
    justify-self: flex-end;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}
@media (min-width: 1150px) {
  .main-navigation__sale-text {
    align-self: flex-end;
  }
}
.navigation-site {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .navigation-site {
    display: grid;
    padding-left: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    column-gap: 16px;
    grid-column: 1 / 1 span;
    order: 3;
    border-top: 1px solid #e1e1e1;
  }
}
@media (min-width: 1150px) {
  .navigation-site {
    padding-top: 0;
    grid-template-columns: 185px 190px;
    grid-column: 1 / 1 span;
    column-gap: 35px;
    order: 1;
    background-color: #ffffff;
    border-top: none;
  }
}
@media (min-width: 768px) {
  .navigation-site__item {
    padding-top: 20px;
  }
}
@media (min-width: 1150px) {
  .navigation-site__item {
    padding-top: 33px;
  }
  .navigation-site__item:not(:nth-child(even)) {
    border-right: 1px solid #e5e5e5;
  }
}
.navigation-site__link {
  position: relative;
  display: block;
  padding-top: 27.5px;
  padding-bottom: 26.5px;
  padding-left: 76px;
  padding-right: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-top: 1px solid #ececec;
}
.navigation-site__link:hover {
  opacity: 0.6;
}
.navigation-site__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation-site__link {
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    border-top: none;
  }
}
@media (min-width: 1150px) {
  .navigation-site__link {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }
}
.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .navigation-user {
    display: grid;
    width: max-content;
    margin-bottom: 0;
    padding-right: 50px;
    justify-self: flex-end;
    grid-template-columns: 84px 264px;
    grid-column: 2 / 1 span;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1150px) {
  .navigation-user {
    order: 3;
    margin-bottom: 0;
    grid-template-columns: 84px 266px;
    grid-column: 3 / 1 span;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .navigation-user__item {
    display: grid;
    align-items: center;
  }
  .navigation-user__grid-col-1 {
    grid-column: 1 / 1 span;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
  .navigation-user__grid-col-2 {
    grid-column: 2 / 1 span;
  }
}
.navigation-user__link {
  position: relative;
  display: block;
  padding-top: 27.5px;
  padding-bottom: 26.5px;
  padding-left: 76px;
  padding-right: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-top: 1px solid #ececec;
}
@media (min-width: 768px) {
  .navigation-user__link {
    display: inline-grid;
    padding: 0;
    border-top: none;
  }
}
@media (min-width: 768px) {
  .navigation-user__link-search {
    padding-top: 36px;
    padding-left: 32px;
    padding-bottom: 34px;
    padding-right: 31px;
    justify-self: center;
  }
  .navigation-user__link-cart {
    grid-template-columns: max-content 1fr;
    justify-self: flex-end;
    align-items: center;
    column-gap: 31px;
  }
}
.navigation-user__link-search:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
  border-radius: 10px;
}
.navigation-user__link-icon-search {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}
.navigation-user__link-icon-cart {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.2;
}
.navigation-user__link:hover .navigation-user__link-text {
  opacity: 0.6;
}
.navigation-user__link:active .navigation-user__link-text {
  opacity: 0.3;
}
.navigation-user__link:hover .navigation-user__link-icon-search,
.navigation-user__link:hover .navigation-user__link-icon-cart {
  fill: #63d1bb;
  opacity: 1;
}
.navigation-user__link:active .navigation-user__link-icon-search,
.navigation-user__link:active .navigation-user__link-icon-cart {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation-user__link-icon-search {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
}
@media (min-width: 768px) {
  .navigation-user__link-icon-cart {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
}
.navigation-user__link-text--search + .visually-hidden {
  display: none;
}
@media (min-width: 768px) {
  .navigation-user__link-text--search {
    display: none;
  }
  .navigation-user__link-text--search + .visually-hidden {
    display: block;
  }
  .navigation-user__link-text--cart {
    padding-top: 2px;
  }
}
@media (min-width: 1150px) {
  .navigation-user__link-text--cart {
    padding-right: 2px;
  }
}
.main-footer {
  background-color: #f1f1f1;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 160px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 28px;
  padding-bottom: 22px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-flow: dense;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    min-height: 143px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 1150px;
  }
}
.main-footer__wrapper::after {
  content: "";
  width: 260px;
  height: 1px;
  margin-bottom: 21px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .main-footer__wrapper::after {
    display: none;
  }
}
.main-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .main-footer__logo {
    display: flex;
    margin-bottom: 8px;
    grid-column: 1 / 1 span;
  }
}
@media (min-width: 1150px) {
  .main-footer__logo {
    margin-bottom: 8px;
    margin-left: 1px;
  }
}
.main-footer__logo-icon {
  fill: #000000;
}
.main-footer__logo-icon:hover {
  fill: #46c1ae;
}
.main-footer__logo-icon:active {
  opacity: 0.3;
}
.socials {
  display: grid;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .socials {
    margin-bottom: 0;
    grid-column: 2 / 1 span;
  }
}
@media (min-width: 1150px) {
  .socials {
    margin-bottom: 1px;
  }
}
.socials__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-auto-flow: dense;
  column-gap: 29px;
  justify-self: center;
  margin-bottom: -4px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .socials__list {
    column-gap: 29px;
  }
}
.socials__link {
  display: inline-flex;
}
.socials__link-icon-vkontakte,
.socials__link-icon-youtube,
.socials__link-icon-telegram {
  fill: #231f20;
}
.socials__link:hover .socials__link-icon-vkontakte,
.socials__link:hover .socials__link-icon-youtube,
.socials__link:hover .socials__link-icon-telegram {
  fill: #46c1ae;
}
.socials__link:active .socials__link-icon-vkontakte,
.socials__link:active .socials__link-icon-youtube,
.socials__link:active .socials__link-icon-telegram {
  opacity: 0.3;
}
.copyright {
  display: grid;
  grid-template-columns: 128px 27px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  order: 2;
}
@media (min-width: 768px) {
  .copyright {
    margin-bottom: 7px;
    column-gap: 27px;
    grid-column: 3 / 1 span;
  }
}
@media (min-width: 1150px) {
  .copyright {
    margin-bottom: 7px;
    column-gap: 28px;
  }
}
.copyright:not(:last-child) {
  margin-bottom: 10px;
}
.copyright__text {
  display: block;
  grid-column: 1 / 1 span;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.copyright__link {
  display: flex;
  margin-top: 1px;
  grid-column: 2 / 1 span;
}
@media (min-width: 768px) {
  .copyright__link {
    margin-top: 0;
  }
}
@media (min-width: 1150px) {
  .copyright__link {
    margin-right: 0;
  }
}
.copyright__icon-html-academy {
  fill: #63d1bb;
}
.copyright__icon-html-academy:hover {
  fill: #46c1ae;
}
.copyright__icon-html-academy:active {
  opacity: 0.3;
}
.primary-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
.primary-button:focus-visible {
  background-color: #63d1bb;
}
.primary-button--states:hover {
  background-color: #444444;
  color: #ffffff;
}
.primary-button--states:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .primary-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    background-color: #ffffff;
    border: 2px solid #444444;
    cursor: pointer;
  }
}
.secondary-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */
